<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Marcha contra el cáncer</title>
</head>
<body>
<div class="navbar navbar-default navbar-static-top navbar-light bg-light" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Marcha contra el cáncer</a>
            <% if (currentUser) { %>
                <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link" href="/carrera">Clasificación</a>
                    </li>
                </ul>
            <% } %>
            <ul class="navbar-nav navbar-right">
                <% if (currentUser) { %>
                    <li>Hola, <%=currentUser.name() %></li>
                    <li><a href="/logout">Desconectar</a></li>
                <% } else { %>
                    <li><a href="/login">Log in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="container">
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% }) %>
        <% infos.forEach(function(info){ %>
            <div class="alert alert-info" role="alert">
                <%= info %>
            </div>
        <% }) %>
    </div>
    <main role="main">