<% include _header %>
<% include _navbarProd %>
<div class="container">
    <form action="/inscripcion/runner" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nombre">Nombre</label>
                <input type="text" required minlength="2" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group col-md-4">
                <label for="apellidos">Apellidos</label>
                <input type="text" required minlength="2" class="form-control" name="apellidos" placeholder="Apellidos">
            </div>
            <div class="form-group col-md-4">
                <label for="fnacimiento">Año de nacimiento</label>
                <input type="number" required min="1900" max="2100" class="form-control" name="fnacimiento" placeholder="1950">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="dorsal">Dorsal</label>
                <input type="number" required min="1" class="form-control" name="dorsal" placeholder="Dorsal">
            </div>
            <div class="form-group col-md-4">
                <label for="categoria">Categoría</label>
                <select class="form-control" name="categoria">
                    <option id="c0" value="0">Chupetines</option>
                    <option id="c1" value="1">Prebenjamin</option>
                    <option id="c2" value="2">Benjamin</option>
                    <option id="c3" value="3">Alevin</option>
                    <option id="c4" value="4">Infantil</option>
                    <option id="c5" value="5">Cadete</option>
                    <option id="c6" value="6">Junior</option>
                    <option id="c7" value="7">Senior</option>
                    <option id="c8" value="8">Veterano</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="sexo">Sexo</label>
                <select class="form-control" name="sexo">
                    <option id="s0" value="0">Hombre</option>
                    <option id="s1" value="1">Mujer</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4" >
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="true" name="camiseta">
                    <label class="form-check-label" for="camiseta">Camiseta</label>
                </div>
                <input type="text" class="form-control" name="talla" placeholder="talla">
            </div>
            <div class="form-group col-md-4">
                <label for="pago">Pago</label>
                <input type="number" required class="form-control" name="pago" placeholder="pago">
            </div>
            <div class="form-group col-md-4">
                <label for="comentario">Comentario</label>
                <textarea class="form-control" name="comentario" placeholder="Comentario"></textarea>
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary" id="btnCrear">Guardar</button>
        </div>
    </form>
</div>
<% include _footer %>