<% include _header %>
<% include _navbarProd %>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1 class="display-3">Inscritos</h1>
            <table class="table" id="tablaGeneral">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% listaCorredores.forEach(function(corredor) { %>
                        <tr>
                            <td><%= corredor.apellidos %></td>
                            <td><%= corredor.nombre %></td>
                            <td>
                                <a class="btn btn-primary" href="/inscripcion/runner/<%= corredor.dorsal %>" role="button">Link</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<% include _footer %>