<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Marcha contra el cáncer</title>
</head>
<body>
    <p>Utiliza el formulario para convertir el archivo.</p>
    <form action="/upload" method="POST" encType="multipart/form-data">
        <input type="file" name="file" accept="*.csv" /><br/>
        <input type="submit" class="btn btn-danger" value="Subir archivo" />
    </form>
</body>
</html>