<% include _header %>
<% include _navbarProd %>
<div class="container">
    <h1>Inscripción en masa</h1>
    <p>Sube un archivo .csv con un listado de participantes para almacenarlo en la base de datos.</p>
    <form action="/upload" method="POST" encType="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file" accept="*.csv" />
            <input type="submit" class="btn btn-danger" value="Subir archivo" />
        </div>
    </form>
</div>
<% include _footer %>